@use 'variaveis' as *;

.logo {
    font-family: $fonte-logo;
    text-align: center;
    height: 100vh;
    padding: $preenchimento-medio;

    &__titulo {
        font-size: $fonte-titulo;
    }
}

.nav {
 display: flex;
 flex-direction: column;

 &__titulo {
    padding: $espacamento;
    margin: $preenchimento;
    min-height: auto;
    justify-content: center;
    font-size: $fonte-nav;
    color:$cor-texto;
    text-decoration: none;
    align-items: center;
    text-align: center;

    &:hover {
    color: $cor-realce;
}}
}
 
.contato{
    padding: $preenchimento-medio;
    text-align: center;
}
