$fonte-principal: sans-serif;
$fonte-logo: "logo", sans-serif;
$fonte-destaque: "festiva";

$fonte-titulo: 5vw ;
$fonte-nav: 4vw ;
$fonte-geral: 30px ;

$espacamento: 0px, auto;
$preenchimento: 0px;
$preenchimento-medio: 5px;
$preenchimento-grande: 20px;

$borda: 10px;

$tela-media: 1200px;
$tela-pequena: 600px;

$cor-texto: white;
$cor-texto2: black;
$cor-realce: rgb(0, 225, 255);
$cor-fundo: #2B0035;
$cor-fundo2: white;
$cor-produto: #00F0FF;
$cor-sombra: rgb(153, 151, 151);


//margin-bottom: $caixa-espacamento;
  //  border-radius: $caixa-raio;
    //box-shadow: $caixa-sombra;





